PORT=3001
GEMINI_API_KEY=AQ.Ab8RN6L3Zi82WqGXjb1JQOWdJjMUSR8v4GKDZ427F03ndsciPw
GEMINI_MODEL=gemini-2.5-flash

GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile